<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <img class="portrait" src="/img/one1.jpg" alt="portrait">
    </div>



    {{>footer}}
</body>

</html>